<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flavorsdemo">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".OwnerMainActivity">
        <!-- Other configurations specific to the renter flavor -->
    </application>
</manifest>